<%- include('../partials/header') -%>

<!-- inner header wrapper start -->
<div class="page_title_section">

  <div class="page_header">
    <div class="container">
      <div class="row">

        <div class="col-lg-9 col-md-9 col-12 col-sm-8">

          <h1>Forgot Password</h1>
        </div>
        <div class="col-lg-3 col-md-3 col-12 col-sm-4">
          <div class="sub_title_section">
            <ul class="sub_title">
              <li> <a href="/"> Home </a>&nbsp; / &nbsp; </li>
              <li>Forgot Password</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="login_wrapper fixed_portion float_left">
  <div class="container  ">

    <div class="row ">
      <div class="col-sm-12">
        <h2 class="mb-4 text-center text-white"> Forgot Password</h2>
      </div>
      <div class="col-sm-10">
        <%- include('../partials/message')-%>
          <form action="/forgot" method="POST">

            <div class="form-group  comments_form px-0">
              <input required type="email" name="email" class="form-control input mt-4" placeholder="Enter Email">
            </div>
            
            <button class="btn login_btn btn-block  mt-3" type="submit">Send Email</button>
          </form>
          <a class="float-right py-1" href="/login">Back to Login</a>
        </div>

            
            <!-- <button class="about_btn login_btn register_btn float_left mt-3 pb-2
        " type="submit">
              <a href="/login"></a> Register</button>
          </form>
      </div> -->
      
    </div>
  </div>
</div>
</div>
</div>

    <%- include('../partials/footer') -%>