<%- include('../partials/header') -%>

  <!-- inner header wrapper start -->
  <div class="page_title_section">

    <div class="page_header">
      <div class="container">
        <div class="row">

          <div class="col-lg-9 col-md-9 col-12 col-sm-8">

            <h1>register</h1>
          </div>
          <div class="col-lg-3 col-md-3 col-12 col-sm-4">
            <div class="sub_title_section">
              <ul class="sub_title">
                <li> <a href="#"> Home </a>&nbsp; / &nbsp; </li>
                <li>register</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- inner header wrapper end -->
  <!-- login wrapper start -->
  <div class="login_wrapper fixed_portion float_left">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="login_top_box float_left">
            <div class="login_banner_wrapper register_banner_wrapper">
              <img src="images/logo2.png" alt="logo">
              <div class="about_btn  facebook_wrap float_left">

                <a href="#">login with facebook <i class="fab fa-facebook-f"></i></a>

              </div>
              <div class="about_btn google_wrap float_left">

                <a href="#">login with pinterest <i class="fab fa-pinterest-p"></i></a>

              </div>
              <div class="jp_regis_center_tag_wrapper jb_register_red_or">
                <h1>OR</h1>
              </div>
            </div>
            <div class="login_form_wrapper register_wrapper">
              <div class="sv_heading_wraper heading_wrapper_dark dark_heading hwd">

                <h3> Register To Enter</h3>

              </div>
              <%- include('../partials/message') -%>

                <form action="/register" method="POST">

                  <div class="form-group icon_form comments_form register_contact">

                    <input type="text" class="form-control require" name="referralName" placeholder="Referral Name*">

                  </div>
                  <div class="form-group icon_form comments_form register_contact">

                    <input type="text" class="form-control require" name="firstName" placeholder="First Name*">

                  </div>
                  <div class="form-group icon_form comments_form register_contact">

                    <input type="text" class="form-control require" name="lastName" placeholder="Last Name*">

                  </div>
                  <div class="form-group icon_form comments_form register_contact">

                    <input type="text" class="form-control require" name="username" placeholder="Username">

                  </div>
                  <div class="form-group icon_form comments_form register_contact">

                    <input type="password" class="form-control require" name="password" placeholder="Password">

                  </div>
                  <div class="form-group icon_form comments_form register_contact">

                    <input type="password" class="form-control require" name="password" placeholder="Confirm Password">

                  </div>
                  <div class="form-group icon_form comments_form register_contact">

                    <input type="text" class="form-control require" name="email" placeholder="Email Address*">

                  </div>
                  <div class="select_box register_contact">
                    <select>
                      <option>country</option>
                      <option>autralia</option>
                      <option>nigeria</option>
                      <option>ghana</option>
                      <option>bahamas</option>
                      <option>china</option>
                      <option>canada</option>
                      <option>congo</option>
                      <option>india</option>
                    </select>
                  </div>
                  <div class="login_remember_box">
                    <label class="control control--checkbox px-2">I agreed to the Terms and Conditions.
                      <input type="checkbox">
                      <span class="control__indicator"></span>
                    </label>

                  </div>
                  <button type="submit" class="about_btn login_btn register_btn float_left">
                    <a href=""></a> Register</button>
                  <!-- <div type="submit" class="about_btn login_btn register_btn float_left">
                <a href="">submit</a>
              </div> -->
                </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- login wrapper end -->



  <div class="login_wrapper fixed_portion float_left">
    <div class="container  ">

      <div class="row ">
        <div class="col-sm-12">
          <h2 class="mb-4 text-center text-white"> Signup</h2>
        </div>
        <div class="col-sm-12">
          <%- include('../partials/message')-%>
            <form action="/register" method="POST">
              <div class="form-row">
                <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                  <input required type="text" name="referralName" class="form-control "
                    placeholder="Enter Referral Name">
                </div>

                <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                  <input required type="text" name="firstName" class="form-control " placeholder="Enter First Name">
                </div>
              </div>

              <div class="form-row">
                <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                  <input required type="text" name="lastName" class="form-control " placeholder="Enter Last Name">
                </div>

                <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                  <input required type="text" name="username" class="form-control " placeholder="Enter Username">
                </div>
              </div>

              <div class="form-row">
                <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                  <input type="email" name="email" class="form-control input mt-2" placeholder="Enter Email">
                </div>

                <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                  <input required type="password" name="password" class="form-control p-3 mt-2"
                    placeholder="Enter Password">
                </div>
              </div>
             
              <button class="about_btn login_btn register_btn float_left mt-3 pb-2
          " type="submit">
                <a href="/login"></a> Register</button>
            </form>
        </div>
        
      </div>
    </div>
  </div>
  </div>
  </div>

  <%- include('../partials/footer') -%>