<%- include('../partials/header') -%>
<div class="page_title_section dashboard_title">

  <div class="page_header">
    <div class="container">
      <div class="row">

        <div class="col-xl-9 col-lg-7 col-md-7 col-12 col-sm-7">

          <h1>Add Investment Plan </h1>
        </div>
        <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-sm-5">
          <div class="sub_title_section">
            <ul class="sub_title">
              <li> <a href="#"> Home </a>&nbsp; / &nbsp; </li>
              <li>My Plan</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="login_wrapper fixed_portion float_left">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="login_top_box float_left">

            <h1 class="text-center text-white">Create an Investment Plan</h1>
            <%- include('../partials/message') -%>

              <form action="/createPlan" method="POST">

                <div class=" mt-3 form-group icon_form comments_for register_contac ">
                  <input required type="text" name="category" class="form-control " placeholder="Enter Plan">
                </div>


                <button class="about_btn login_btn register_btn float_left mt-3 pb-2
      " type="submit"> Create</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') -%>