<%- include('../partials/header') -%>


  <!-- inner header wrapper start -->
  <div class="page_title_section">

    <div class="page_header">
      <div class="container">
        <div class="row">

          <div class="col-lg-9 col-md-9 col-12 col-sm-8">

            <h1>Investment plan </h1>
          </div>
          <div class="col-lg-3 col-md-3 col-12 col-sm-4">
            <div class="sub_title_section">
              <ul class="sub_title">
                <li> <a href="#"> Home </a>&nbsp; / &nbsp; </li>
                <li>Investment </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- inner header wrapper end -->
  <!--investment plan wrapper start -->
  <div class="sv_pricing_paln fixed_portion  float_left">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-12 col-sm-12 col-12">
          <div class="sv_heading_wraper heading_wrapper_dark dark_heading">

            <h4> our plans </h4>
            <h3> Our Investment Plans </h3>

          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-lg-6 col-sm-6 col-12">
          <div class="investment_box_wrapper sv_pricing_border float_left">
            <div class="investment_icon_circle parpal_color">
              <i class="flaticon-bar-chart"></i>
            </div>
            <div class="investment_border_wrapper"></div>
            <div class="investment_content_wrapper">
              <h1><a href="#">silver plan</a></h1>
              <p>Up to 5% for 20 Hourly
                <br> Compound Available
                <br> Down to 5% for 20 Hourly
                <br> Principal Return
                <br> Up to 5% for 20 Hourly
              </p>
            </div>
            <div class="about_btn plans_btn bg_btn_color">
              <ul>
                <li>
                  <a href="">read more</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-lg-6 col-sm-6 col-12">
          <div class="investment_box_wrapper sv_pricing_border float_left">
            <div class="investment_icon_circle red_info_circle">
              <i class="flaticon-money"></i>
            </div>
            <div class="investment_border_wrapper red_border_wrapper"></div>
            <div class="investment_content_wrapper red_content_wrapper">
              <h1><a href="#">Bronze Plan</a></h1>
              <p>Up to 5% Daily for 5 Days
                <br> Min deposit: $2020
                <br> Max deposit: $101010
                <br> Principal Return
                <br> Compound Available
              </p>
            </div>
            <div class="about_btn plans_btn red_btn_plans ">
              <ul>
                <li>
                  <a href="#">read more</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-lg-6 col-sm-6 col-12">
          <div class="investment_box_wrapper sv_pricing_border float_left">
            <div class="investment_icon_circle blue_icon_circle">
              <i class="flaticon-gold"></i>
            </div>
            <div class="investment_border_wrapper blue_border_wrapper"></div>
            <div class="investment_content_wrapper blue_content_wrapper">
              <h1><a href="#">copper plan</a></h1>
              <p>Up to 3% Hourly for 10 Hourly
                <br> Min deposit: $300
                <br> Max deposit: $3000
                <br> Principal Not Return
                <br> Compound Not Available
              </p>
            </div>
            <div class="about_btn plans_btn blue_btn_plans">
              <ul>
                <li>
                  <a href="#">read more</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-lg-6 col-sm-6 col-12">
          <div class="investment_box_wrapper sv_pricing_border float_left height_box">
            <div class="investment_icon_circle green_info_circle">
              <i class="flaticon-medal"></i>
            </div>
            <div class="investment_border_wrapper green_border_wrapper"></div>
            <div class="investment_content_wrapper green_content_wrapper">
              <h1><a href="#">gold plan</a></h1>
              <p>Up to 7% for 30 days
                <br> Min deposit: $500
                <br> Max deposit: $3000
                <br> Principal Not Return
                <br> Compound Available
              </p>
            </div>
            <div class="about_btn plans_btn green_plan_btn">
              <ul>
                <li>
                  <a href="#">read more</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--investment plan wrapper end -->
  <!-- transaction wrapper start -->
  <div class="invest_back_wrapper float_left">
    <div class="investment_overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="sv_heading_wraper half_section_headign cf half_sec_heading ls">
            <h4>who we are</h4>
            <h3>Our Latest Transaction</h3>

          </div>
          <div class="x_offer_tabs_wrapper">
            <ul class="nav nav-tabs">
              <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home"> deposits</a>
              </li>
              <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#menu2">withdraw</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12">
          <div class="tab-content">
            <div id="home" class="tab-pane active">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="table_next_race league_table overflow-scroll">
                    <table>
                      <tr>
                        <th class="form_table_resp">name</th>
                        <th>date</th>
                        <th>amount</th>
                        <th>currency</th>
                        <th>deposit</th>

                      </tr>
                      <tr>

                        <td><img src="images/mem1.png" alt="img"> <span>Olympia Ripple</span></td>

                        <td>June 24,2019</td>
                        <td>$6,00,000.00</td>
                        <td>Dollar</td>
                        <td>03 Minutes Ago</td>

                      </tr>
                      <tr>

                        <td><img src="images/mem4.png" alt="img"> <span>Nancee Broom</span></td>

                        <td>June 04,2019</td>
                        <td>$16,00,000.00</td>
                        <td>card</td>
                        <td>22 Minutes Ago</td>

                      </tr>
                      <tr>

                        <td><img src="images/mem1.png" alt="img"> <span>Broom Nancee</span></td>

                        <td>June 24,2019</td>
                        <td>$6,00,000.00</td>
                        <td>bitcoin</td>
                        <td>15 Minutes Ago</td>

                      </tr>

                      <tr>

                        <td><img src="images/mem3.png" alt="img"> <span>Olympia Ripple</span></td>

                        <td>June 05,2019</td>
                        <td>$45,00,000.00</td>
                        <td>ETH</td>
                        <td>13 Minutes Ago</td>

                      </tr>
                      <tr>

                        <td><img src="images/mem4.png" alt="img"> <span>Alison Rittichier</span></td>

                        <td>June 28,2019</td>
                        <td>$77,00,000.00</td>
                        <td>payonner</td>
                        <td>05 Minutes Ago</td>

                      </tr>

                      <tr>

                        <td><img src="images/mem6.png" alt="img"> <span>Emmett Stein </span></td>

                        <td>June 21,2019</td>
                        <td>$66,00,000.00</td>
                        <td>paypal</td>
                        <td>53 Minutes Ago</td>

                      </tr>

                    </table>

                  </div>
                </div>
              </div>
            </div>
            <div id="menu2" class="tab-pane fade">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="table_next_race league_table overflow-scroll">
                    <table>
                      <tr>
                        <th class="form_table_resp">name</th>
                        <th>date</th>
                        <th>amount</th>
                        <th>currency</th>
                        <th>deposit</th>

                      </tr>

                      <tr>

                        <td><img src="images/mem4.png" alt="img"> <span>Nancee Broom</span></td>

                        <td>June 04,2019</td>
                        <td>$16,00,000.00</td>
                        <td>card</td>
                        <td>22 Minutes Ago</td>

                      </tr>

                      <tr>

                        <td><img src="images/mem2.png" alt="img"> <span>Ripple Alison</span></td>

                        <td>June 24,2019</td>
                        <td>$06,00,000.00</td>
                        <td>ripees</td>
                        <td>05 Minutes Ago</td>

                      </tr>
                      <tr>

                        <td><img src="images/mem6.png" alt="img"> <span>Emmett Stein
                          </span></td>
                        <td>June 21,2019</td>
                        <td>$66,00,000.00</td>
                        <td>paypal</td>
                        <td>53 Minutes Ago</td>

                      </tr>
                      <tr>

                        <td><img src="images/mem1.png" alt="img"> <span>Broom Nancee</span></td>

                        <td>June 24,2019</td>
                        <td>$6,00,000.00</td>
                        <td>bitcoin</td>
                        <td>15 Minutes Ago</td>

                      </tr>

                      <tr>

                        <td><img src="images/mem3.png" alt="img"> <span>Olympia Ripple</span></td>

                        <td>June 05,2019</td>
                        <td>$45,00,000.00</td>
                        <td>ETH</td>
                        <td>13 Minutes Ago</td>

                      </tr>
                      <tr>

                        <td><img src="images/mem5.png" alt="img"> <span>Olympia Ripple</span></td>

                        <td>June 24,2019</td>
                        <td>$11,00,000.00</td>
                        <td>card</td>
                        <td>23 Minutes Ago</td>

                      </tr>

                    </table>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- transaction wrapper start -->
  <!--calculator plan wrapper start -->
  <div class="calculator_wrapper float_left">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-12 col-sm-12 col-12">
          <div class="sv_heading_wraper heading_wrapper_dark dark_heading">
            <h4> plans calculator </h4>
            <h3> How Much Can You Save With Plans? </h3>

          </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-12 calc">
          <div class="calculator_portion float_left">
            <div class="caluclator_text_wrapper">
              <p>deposit amount : <i class="fas fa-info-circle"></i></p>
              <p class="dollar_wrap"><i class="fa fa-rupee-sign"></i>
                <input type="text" id="investmentAmount" />
              </p>
            </div>
            <div class="caluclator_text_wrapper">
              <p>monthly SIP : <i class="fas fa-info-circle"></i></p>
              <p class="dollar_wrap"><i class="fa fa-rupee-sign"></i>
                <input type="text" id="investmentAmountSIP" />
              </p>
            </div>

            <div class="caluclator_text_wrapper">
              <p>Investment Year : <i class="fas fa-info-circle"></i></p>
              <select class="custom-select" id="investmentYears">
                <option selected value="5">5 Years</option>
                <option value="10">10 Years</option>
                <option value="15">15 Years</option>
                <option value="20">20 Years</option>
                <option value="25">25 Years</option>
              </select>
            </div>

            <div class="about_btn calc_btn float_left" onclick="CalCommission(); return false;">
              <ul>
                <li>
                  <a href="#">calculate profit</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 calc">
          <div class="mutualfunds-calculator">
            <div class="calculator">
              <div class="graph-area">
                <span class="mf-yAxis">Investment Value</span>
                <svg width="480" height="350" id="graph" xmlns="http://www.w3.org/2000/svg" version="1.1"
                  viewBox="0 0 480 355" class="mf-chart">

                  <defs>
                    <pattern id="grid" x="10" y="10" width="480" height="88" patternUnits="userSpaceOnUse">
                      <line x1="0" y1="0" x2="100%" y2="0" stroke-width="1" shape-rendering="crispEdges"
                        stroke="#bdbdbd"></line>
                    </pattern>
                  </defs>
                  <rect width="480" height="355" style="fill:#111111;"></rect>
                  <g>
                    <path d="M 5,330
          C 5,330
          300,257.5
          475,170" id="path1" fill="none" stroke="#bdbdbd" stroke-width="5px" stroke-linecap="round" class="anim-path"
                      style="transition: stroke-dashoffset 2s ease-in-out; stroke-dasharray: 522.957, 522.957; stroke-dashoffset: 0px; display: inline;">
                    </path>
                    <path d="M 5,330
          C 5,330
          300,257.5
          475,20" fill="none" id="path2" stroke="#dba622" stroke-width="5px" stroke-linecap="round" class="anim-path"
                      style="transition: stroke-dashoffset 2s ease-in-out; stroke-dasharray: 572.872, 572.872; stroke-dashoffset: 0px; display: inline;">
                    </path>
                  </g>
                  <g class="mf-circles" style="">
                    <circle cx="472" cy="22" r="8" fill="#dba622" stroke="#dba622" stroke-width="3px"></circle>
                    <circle cx="472" cy="170" r="8" fill="#bdbdbd" stroke="#bdbdbd" stroke-width="3px"></circle>
                  </g>
                </svg>
                <div class="mf-xAxis">

                  <span class="mf-xAxis-end" id="years_selected">25 Years</span>
                </div>
                <div class="labels funds_label" style="display: block;">
                  <div class="chart-label">
                    <span class="amt" id="directFund"><i class="fa fa-rupee-sign"></i>1.98 Cr</span>
                    <span class="sub">total returns</span>
                  </div>
                  <div class="chart-label label-regular">
                    <span class="amt" id="regularFund"><i class="fa fa-rupee-sign"></i>1.64 Cr</span>
                    <span class="sub">investment amounts</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="calc-amt calc_ind_1_2">
            <p class="calc-price" id="returnAmount">Rs. 34.06 L</p>
            <p>extra returns for you </p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!--calculator plan wrapper end -->



  <%- include('../partials/footer') -%>