<%- include('partials/header') -%>
    <!-- navi wrapper End -->
    <!-- slider wrapper start -->
    <div class="slider-area float_left">
        <div class="banner_img_top">
            <img src="images/banner.png" alt="img">
        </div>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="carousel-captions caption-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                                    <div class="content">

                                        <h2 data-animation="animated bounceInUp">Often Have Small</h2>

                                        <h3 data-animation="animated bounceInUp">Invest Your Money <br>
                                            For Future</h3>

                                        <div class="slider_btn float_left">
                                            <ul>
                                                <li data-animation="animated bounceInLeft">
                                                    <a href="/register">start now</a>
                                                </li>
                                                <li data-animation="animated bounceInLeft">
                                                    <a href="/investment">view plans</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                                    <div class="slider_main_img_wrapper">
                                        <img src="images/slider_img.png" alt="slider_img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-captions caption-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                                    <div class="content">

                                        <h2 data-animation="animated bounceInLeft">Often Have Small</h2>

                                        <h3 data-animation="animated bounceInLeft">Invest Your Money <br>
                                            For Future</h3>

                                        <div class="slider_btn float_left">
                                            <ul>
                                                <li data-animation="animated bounceInLeft">
                                                    <a href="/register">start now</a>
                                                </li>
                                                <li data-animation="animated bounceInLeft">
                                                    <a href="/investment">view plans</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                                    <div class="slider_main_img_wrapper">
                                        <img src="images/slider_img.png" alt="slider_img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-captions caption-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                                    <div class="content">

                                        <h2 data-animation="animated bounceInLeft">Often Have Small</h2>

                                        <h3 data-animation="animated bounceInLeft">Invest Your Money <br>
                                            For Future</h3>

                                        <div class="slider_btn float_left">
                                            <ul>
                                                <li data-animation="animated bounceInLeft">
                                                    <a href="/register">start now</a>
                                                </li>
                                                <li data-animation="animated bounceInLeft">
                                                    <a href="/investment">view plans</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                                    <div class="slider_main_img_wrapper">
                                        <img src="images/slider_img.png" alt="slider_img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"><span
                            class="number"></span>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""><span class="number"></span>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""><span class="number"></span>
                    </li>
                </ol>
                <div class="carousel-nevigation">
                    <a class="prev" href="#carousel-example-generic" role="button" data-slide="prev"> <span></span> <i
                            class="flaticon-left-arrow"></i>
                    </a>
                    <a class="next" href="#carousel-example-generic" role="button" data-slide="next"> <span></span> <i
                            class="flaticon-arrow-pointing-to-right"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <!-- slider wrapper End -->
    <!--about us wrapper start -->
    <div class="about_us_wrapper float_left">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-lg-6 col-sm-12 col-12">
                    <div class="about_img_wrapper">
                        <img src="images/uniq.png" alt="About" class="img-responsive">
                    </div>
                    <div>
                        <p>
                            UNIQUE LAUREL GLOBAL TRADING CONCEPT
                            is of one of it's kind with a great vision and future, to empower and encourage the general
                            investors and people on the need of investing their capital in cryptocurrency, forex and
                            stockexchange..

                        </p>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-sm-12 col-12">
                    <div class="about_content_wrapper">
                        <div class="sv_heading_wraper">
                            <h4>who we are</h4>
                            <h3>Welcome to UniqueLaurelGlobal</h3>
                        </div>
                        <div class="welcone_savehiyp float_left">
                            <p>UNIQUE LAUREL GLOBAL TRADING CONCEPT
                                is duly registered as a business name with the cooperate affairs commission (CAC) with
                                the registration number 3114068
                            </p>
                            <div class="welcome_save_inpvate_wrapper">
                                <ul>
                                    <li class="purple_inovate"><a href="#"><i class="flaticon-check-box"></i> We
                                            Innovate </a></li>
                                    <li class="blue_inovate"><a href="#"><i class="flaticon-check-box"></i> Licenced &
                                            Certified </a></li>
                                    <li class="green_inovate"><a href="#"><i class="flaticon-check-box"></i>Saving &
                                            Investments </a></li>
                                </ul>
                            </div>
                            <div class="about_btn float_left">
                                <ul>
                                    <li>
                                        <a href="/investment">get more</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about us wrapper end -->
    <!--investment plan wrapper start -->
    <div class="investment_plans float_left">
        <div class="investment_overlay"></div>
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                    <div class="sv_heading_wraper heading_wrapper_dark">
                        <h4> our packages </h4>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 col-lg-6 col-sm-6 col-12">
                    <div class="investment_box_wrapper float_left">
                        <div class="investment_icon_circle red_info_circle">
                            <i class="flaticon-money"></i>
                        </div>
                        <div class="investment_border_wrapper red_border_wrapper"></div>
                        <div class="investment_content_wrapper red_content_wrapper">
                            <h1><a href="#">Soft Package</a></h1>
                            <p>30% of your capital in 9 calendar days
                                <br> Min deposit: <b>&#8358;</b> 5000
                                <br> Max deposit: <b>&#8358;</b>500000

                                <br> Duration: 9days
                            </p>
                        </div>
                        <div class="about_btn plans_btn red_btn_plans">
                            <ul>
                                <li>
                                    <a href="#">read more</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-6 col-sm-6 col-12">
                    <div class="investment_box_wrapper float_left">
                        <div class="investment_icon_circle blue_icon_circle">
                            <i class="flaticon-gold"></i>
                        </div>
                        <div class="investment_border_wrapper blue_border_wrapper"></div>
                        <div class="investment_content_wrapper blue_content_wrapper">
                            <h1><a href="#">EASY PACKAGE </a></h1>
                            <p>15% of your capital in 5days
                                <br> Min deposit: <b>&#8358;</b> 10000
                                <br> Max deposit: <b>&#8358;</b>250000

                                <br> Duration: 5days
                            </p>
                        </div>
                        <div class="about_btn plans_btn blue_btn_plans">
                            <ul>
                                <li>
                                    <a href="#">read more</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-6 col-sm-6 col-12">
                    <div class="investment_box_wrapper float_left height_box">
                        <div class="investment_icon_circle green_info_circle">
                            <i class="flaticon-medal"></i>
                        </div>
                        <div class="investment_border_wrapper green_border_wrapper"></div>
                        <div class="investment_content_wrapper green_content_wrapper">
                            <h1><a href="#">FUTURE PACKAGE </a></h1>
                            <p>100% of your capital in 28days
                                <br> Min deposit: <b>&#8358;</b> 50000
                                <br> Max deposit: <b>&#8358;</b>1000000

                                <br> Duration: 28days
                            </p>
                        </div>
                        <div class="about_btn plans_btn green_plan_btn">
                            <ul>
                                <li>
                                    <a href="/investment">read more</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--investment plan wrapper end -->


    

    <%- include('partials/footer') -%>