<%- include('partials/header') -%>
  <!-- inner header wrapper start -->
  <div class="page_title_section">

    <div class="page_header">
      <div class="container">
        <div class="row">

          <div class="col-lg-9 col-md-9 col-12 col-sm-8">

            <h1>Investment packages </h1>
          </div>
          <div class="col-lg-3 col-md-3 col-12 col-sm-4">
            <div class="sub_title_section">
              <ul class="sub_title">
                <li> <a href="/"> Home </a>&nbsp; / &nbsp; </li>
                <li>Investment </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sv_pricing_paln fixed_portion  float_left">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-12 col-sm-12 col-12">
          <div class="sv_heading_wraper heading_wrapper_dark dark_heading">

            <h4> our plans </h4>
            <h3> Our Investment Packages </h3>

            <p class="mt-4">UNIQUE LAUREL GLOBAL TRADING CONCEPT is Professionally Managed by Real Time Crypto and Forex
              analysts/Traders to achieve a good result Benefits and Profit.
              Our investors are just to invest and leave the rest for us and smile to the bank anytime they
              are
              due.... </p>
            <p> We operate only in naira for now</p>
           <br>
            <p>We have three unique and juicy packages</p>
            
          </div>
        </div>
      
        <div class="col-xl-4 col-md-6 col-lg-6 col-sm-6 col-12">
          <div class="investment_box_wrapper float_left">
            <div class="investment_icon_circle red_info_circle">
              <i class="flaticon-money"></i>
            </div>
            <div class="investment_border_wrapper red_border_wrapper"></div>
            <div class="investment_content_wrapper red_content_wrapper">
              <h1><a href="#">Soft Package</a></h1>
              <p>30% of your capital in 9 calendar days
                <br> Min deposit: <b>&#8358;</b> 5000
                <br> Max deposit: <b>&#8358;</b>500000
                <br>
                Example:
               first 3days - 15%
                <br>
                second 3days - 15%
                <br>
              Third 3days - capital</p>

              </p>
            </div>
            <div class="about_btn plans_btn red_btn_plans">
              <ul>
                <li>
                  <a href="#">Invest Now</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-lg-6 col-sm-6 col-12">
          <div class="investment_box_wrapper float_left">
            <div class="investment_icon_circle blue_icon_circle">
              <i class="flaticon-gold"></i>
            </div>
            <div class="investment_border_wrapper blue_border_wrapper"></div>
            <div class="investment_content_wrapper blue_content_wrapper">
              <h1><a href="#">EASY PACKAGE </a></h1>
              <p>15% of your capital in 5days
                <br> Min deposit: <b>&#8358;</b> 10000
                <br> Max deposit: <b>&#8358;</b>250000

                <br> Duration: 5days
              <p>
                Both capital and profit paid on the 5th day
              </p>

              </p>
            </div>
            <div class="about_btn plans_btn blue_btn_plans">
              <ul>
                <li>
                  <a href="#">Invest Now</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-lg-6 col-sm-6 col-12">
          <div class="investment_box_wrapper float_left height_box">
            <div class="investment_icon_circle green_info_circle">
              <i class="flaticon-medal"></i>
            </div>
            <div class="investment_border_wrapper green_border_wrapper"></div>
            <div class="investment_content_wrapper green_content_wrapper">
              <h1><a href="#">FUTURE PACKAGE </a></h1>
              <p>100% of your capital in 28days
                <br> Min deposit: <b>&#8358;</b> 50000
                <br> Max deposit: <b>&#8358;</b>1000000

                <br> Duration: 28days
                <br>
                Example:first 14days - profit</p>
                <p>
                  Second 14days - capital
                </p>
                     
              
            </div>
            <div class="about_btn plans_btn green_plan_btn">
              <ul>
                <li>
                  <a href="#">Invest Now</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  

<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-xl-6 col-md-6 col-lg-6 col-sm-6 col-12">
      <div class="investment_box_wrapper float_left height_box">
        
        <div class="investment_border_wrapper green_border_wrapper"></div>
        <div class="investment_content_wrapper green_content_wrapper">
          <h1><a href="#">REFFERER BONUS </a></h1>
          <p>
             We have 4% refferer bonus and 2% subsequent refferer bonus can be (withdrawn from
            1000naira upward)
              <br>
            NOTE :Deposit confirmation and withdrawal process is on or before 24hours..
            </p>
        </div>
        
      </div>
    </div>
    <div class="col-xl-6 col-md-6 col-lg-6 col-sm-6 col-12">
      <div class="investment_box_wrapper float_left height_box">
        
        <div class="investment_border_wrapper green_border_wrapper"></div>
        <div class="investment_content_wrapper green_content_wrapper">
          <h1><a href="#">INVESTMENT DAYS AND TIME</a></h1>
          <p>MONDAY 10AM TO 12PM 
            <br>WEDNESDAY  10AM TO 12PM 
            <br>FRIDAY 10AM TO 12PM 
            <br>SATURDAY 10AM TO 12PM 
            </p>
        </div>
        
      </div>
    </div>
  </div>

</div>


  </div>
  <!--investment plan wrapper end -->

  

  <%- include('partials/footer') -%>